<lasso-page cache-key="get-index"/>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Marko TodoMVC</title>
    <lasso-head/>
  </head>
  <body>
    <todomvc-app/>
    <lasso-body/>
  </body>
</html>
